.container {
  margin: 150px;
}

.searchContainer {
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
}

.searchBox {
  width: 400px;
  margin-bottom: 20px;
}

.filterContainer {
  text-align: center;
}
