.container {
  width: 60%;
  margin: 100px auto 20px auto;
  max-width: 550px;
}

.title {
  margin-bottom: 30px;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.nameValuePair {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.label {
  font-weight: 600;
}

.btnContainer {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-column-gap: 20px;
  justify-content: right;
}
