.container {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}
.header {
  width: 314px;
  height: 55px;
  margin-left: 200px;
  margin-top: 200px;
}

.name {
  margin-left: 200px;
  margin-bottom: 25px;
}

.btnContainer {
  display: grid;
  grid-template-columns: max-content 100px;
  grid-column-gap: 15px;
  justify-content: right;
  align-items: center;
  text-align: right;
  margin-top: 20px;
}

.cancelBtn {
  width: 50px;
  display: block;
  text-decoration: none;
}
