.container {
  margin: 100px 100px;
}

.bookLogsContainer {
  margin: 20px 30px;
}

.bookLogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  border-radius: 5px;
  border: 1px solid rgba(55, 41, 41, 0.2);
  padding: 14px 30px;
}

.info {
  display: grid;
  grid-template-columns: 75px 1fr;
}
